<h1>Full Example</h1>

This page shows some full examples of top navs built with HyperNav. This page does not contain
any actual documentation, just examples. The documentation can be found under other pages.

<h2>
    Basic
</h2>

<div class="example" data-src="/static/examples/top-nav/full/basic.html"></div>

<h3>
    Basic Features
</h3>

<ul>
    <li>
        Brand items
    </li>
    <li>
        Body items
    </li>
    <li>
        Mobile overlay
    </li>
</ul>

<h2>
    Intermediate
</h2>

<div class="example" data-src="/static/examples/top-nav/full/intermediate.html"></div>

<h3>
    Intermediate Features
</h3>

<ul>
    <li>
        Brand items
    </li>
    <li>
        Body items
    </li>
    <li>
        Mobile overlay
    </li>
    <li>
        Dropdowns
    </li>
    <li>
        Nested dropdowns
    </li>
    <li>
        Mega menu
    </li>
    <li>
        Different icons for mobile and desktop
    </li>
</ul>

<h2>
    Advanced
</h2>

<div class="example" data-src="/static/examples/top-nav/full/advanced.html"></div>

<h3>
    Advanced Features
</h3>

<ul>
    <li>
        Brand items
    </li>
    <li>
        Body items
    </li>
    <li>
        Mobile overlay
    </li>
    <li>
        Dropdowns
    </li>
    <li>
        Nested dropdowns
    </li>
    <li>
        Mega menu
    </li>
    <li>
        Different icons for mobile and desktop
    </li>
    <li>
        Different modes
    </li>
</ul>