[submodule "Core"]
	path = Core
	url = https://github.com/Adamantica/CommunicatorCMS-Core.git
[submodule "Web/Themes/DefaultTheme"]
	path = Web/Themes/DefaultTheme
	url = https://github.com/Adamantica/CommunicatorCMS-DefaultTheme.git
[submodule "wwwroot/static/themes/DefaultTheme"]
	path = wwwroot/static/themes/DefaultTheme
	url = https://github.com/Adamantica/CommunicatorCMS-DefaultThemeStatic.git
[submodule "Web/Rendering"]
	path = Web/Rendering
	url = https://github.com/Adamantica/CommunicatorCMS-Rendering.git
[submodule "Web/Cms"]
	path = Web/Cms
	url = https://github.com/Adamantica/CommunicatorCMS-Cms.git
[submodule "GitCommands"]
	path = GitCommands
	url = https://github.com/Adamantica/CommunicatorCMS-GitCommands.git
