<h2>Sub Sections</h2>

<div class="columns">
    <div class="column">
        <a class="overlay-button" href="full">
            <h3>
                Full Example
            </h3>
            <p>
                This is a full working example to get you immediately started.
            </p>
        </a>

    </div>
    <div class="column">
        <a class="overlay-button" href="brand">
            <h3>
                Brand
            </h3>
            <p>
                Covers how to display content in the top nav, regardless of
                device size.
            </p>
        </a>
    </div>
    <div class="column">
        <a class="overlay-button" href="body">
            <h3>
                Body
            </h3>
            <p>
                The main portion of the top nav. This is where most of the 
                content should go.
            </p>
        </a>
    </div>
</div>

<div class="columns">
    <div class="column">
        <a class="overlay-button" href="full">
            <h3>
                Dropdown menus
            </h3>
            <p>
                Documentation of how the dropdown menus work.
            </p>
        </a>

    </div>
    <div class="column">
        <a class="overlay-button" href="brand">
            <h3>
                Mega Menu
            </h3>
            <p>
                Mega menu examples and configuration.
            </p>
        </a>
    </div>
    <div class="column">
        <a class="overlay-button" href="body">
            <h3>
                Modes
            </h3>
            <p>
                The top nav supports different modes, such as a search mode.
            </p>
        </a>
    </div>
</div>

