<!--
// GrapesJs: RAZOR START

    @{
        for (var i = 0; i < 10; i++)
        {
            <p>@i</p>
        }
    }

RAZOR END
-->

<section class="hero is-fullheight" style="background: transparent; padding-top: 5rem">
    <div class="hero-body">
        <div class="container content">
            <div class="columns">
                <div class="column">
                    <img src="https://adamantica.com/static/projects/hyper-nav/logo.svg" />
                </div>
            </div>

            <br />
            <br />

            <div class="columns">
                <div class="column">
                    <h1>
                        <strong>HyperNav</strong> is an advanced, interactive and open source navigation menu framework without JavaScript.
                        Build and display complex site navigation structures for both mobile and desktop users.
                    </h1>
                    <div class="buttons">
                        <a class="button is-primary is-large" style="font-size: 2rem;" href="download">
                            Download
                        </a>
                        <a class="button is-large" style="font-size: 2rem;" href="/documentation">
                            Documentation
                        </a>
                        <a class="button is-large" style="font-size: 2rem;" href="/documentation">
                            GitHub
                        </a>
                    </div>
                </div>

                <div class="column" style="align-items: flex-start">
                    <div class="columns">
                        <div class="column is-half">
                            <h2>
                                Responsive
                            </h2>
                            <p>
                                Designed for both desktop and mobile devices.
                            </p>
                        </div>
                        <div class="column is-half">
                            <h2>
                                Modular
                            </h2>
                            <p>
                                Built with SCSS, so just import what you need.
                            </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-half">
                            <h2>
                                Prefixed CSS
                            </h2>
                            <p>
                                The CSS classes are prefixed, thus HyperNav works well together with other CSS frameworks.
                            </p>
                        </div>
                        <div class="column is-half">
                            <h2>
                                CSS Only
                            </h2>
                            <p>
                                HyperNav does not use any JavaScript or other scripting languages and is solely built on CSS.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />

            <div class="columns">
                <div class="column" style="align-items: center">
                    <h4>
                        Brought to you by
                    </h4>
                    <a href="https://adamantica.com" class="column" style="align-items: center">
                        <img src="https://adamantica.com/static/projects/adamantica/logo.svg" style="width: 40%" />
                        adamantica.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features-section" class="section">
    <style>
        #features-section .column
        {
            flex: 1;
        }

            #features-section .column ul
            {
                margin: 0;
                list-style: none;
            }

                #features-section .column ul li::before
                {
                    content: "✔";
                }
    </style>

    <div class="content container">
        <div class="columns">
            <div class="column">
                <h2>
                    Features
                </h2>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <h3>
                    General
                </h3>
                <ul>
                    <li>
                        CSS only
                    </li>
                    <li>
                        No JavaScript
                    </li>
                    <li>
                        Icons
                    </li>
                    <li>
                        Text
                    </li>
                    <li>
                        Bold displacement fix
                    </li>
                    <li>
                        Customizable via variables
                    </li>
                </ul>
            </div>
            <div class="column">
                <h3>
                    Top Nav Menu
                </h3>
                <ul>
                    <li>
                        Responsive
                    </li>
                    <li>
                        Inifinitely nestable
                    </li>
                    <li>
                        Fixed and static
                    </li>
                    <li>
                        Drop down menus
                    </li>
                    <li>
                        Mega menus
                    </li>
                </ul>
            </div>
            <div class="column">
                <h3>
                    Side Nav Menu
                </h3>
                <ul>
                    <li>
                        Responsive
                    </li>
                    <li>
                        Inifinitely nestable
                    </li>
                    <li>
                        Fixed, static and overlay
                    </li>
                    <li>
                        Iconified view
                    </li>
                    <li>
                        Full width view
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="content container">
        <h2>
            Licensing
        </h2>
        <p>
            HyperNav is published under the <a href="https://opensource.org/licenses/MIT">MIT license</a>, which is a permissive open source license.
            This means that HyperNav can be integrated in proprietary software free of charge.
        </p>
    </div>
</section>