    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div style="width: 100%; height: 20rem; display: flex; align-items: center; justify-content: center">
                    <img src="~/static/communicator-cms/adamantica/logo.svg" style="width: 50%" />
                </div>
            </div>
        </div>
    </section>

<div style="height: 500px; width: 100px; background: red">

</div>
