<div class="content" style="padding-top: 7rem; align-items: center; min-height: 100vh; display: flex; align-items: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex" >
                <div>
                    <h1 style="display: none">
                        HyperNav
                    </h1>
                    <img src="https://cdn.acmion.com/acmion/assets/hyper-nav/logo.svg" class="img-fluid" style="margin-left: -2.7%" alt="HyperNav" />
                    <br />
                    <br />

                    <h2>
                        <strong>HyperNav</strong> is an advanced, interactive and open source navigation menu framework that works without JavaScript.
                        Build complex navigation structures for both mobile and desktop users.
                    </h2>

                    <a class="btn btn-primary btn-lg my-1 w-100 w-md-auto" onclick="onCopy()">
                        Download
                    </a>
                    <a class="btn  btn-outline-primary btn-lg my-1 w-100 w-md-auto" href="/getting-started/">
                        Documentation
                    </a>
                    <a class="btn btn-outline-primary btn-lg my-1 w-100 w-md-auto" href="/getting-started/">
                        GitHub
                    </a>
                </div>
            </div>

            <div class="column col-md-6 d-flex" >
                <div>
                    <img src="https://cdn.acmion.com/acmion/assets/hyper-nav/logo.svg" class="img-fluid invisible" style="margin-left: -2.7%" alt="HyperNav" />
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <h2>
                                Responsive
                            </h2>
                            <p>
                                Designed for both desktop and mobile devices.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h2>
                                Modular
                            </h2>
                            <p>
                                Built with SCSS, so just import what you need.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>
                                Prefixed CSS
                            </h2>
                            <p>
                                The CSS classes are prefixed, thus HyperNav works well together with other CSS frameworks.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h2>
                                Works Without JavaScript
                            </h2>
                            <p>
                                HyperNav works without any JavaScript. However, accessibility and behavior can be
                                improved with scripts. 
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>
                                Lightweight
                            </h2>
                            <p>
                                The payload of HyperNav with the default theme is less than 4 KB when gzipped.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h2>
                                Free and Open Source Software
                            </h2>
                            <p>
                                HyperNav is licensed under the MIT license.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />

        <div class="d-flex" style="align-items: center; flex-direction: column">
            <h4>
                Brought to you by
            </h4>

            <a href="https://acmion.com" class="d-flex" style="align-items: center; flex-direction: column">
                <img class="img-responsive" src="https://cdn.acmion.com/acmion/assets/acmion/logo.svg" style="height: 4rem" />
                acmion.com
            </a>
        </div>
    </div>
</div>
