<h1>Dynamic</h1>

<p>
    With CommunicatorCMS you can use C# with Razor syntax to generate dynamic content.
    For example, the content below is generated with server side code:
</p>

@for(var i = 0; i < 100; i++)
{
    <p>
        DateTime.Now.Ticks: @DateTime.Now.Ticks;
    </p>
}
