<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column is-one-quarter" style="align-items: flex-start">
                <h2>
                    Developer
                </h2>

                <a href="https://adamantica.com">
                    <img src="https://adamantica.com/projects/adamantica/logo.svg" style="height: 4rem" />
                </a>

            </div>
            <div class="column is-one-quarter">
                <h2>
                    Links
                </h2>
                <a href="/">
                    Home
                </a>
                <a href="/getting-started/">
                    Getting Started
                </a>
                <a href="/how-it-works/">
                    How It Works
                </a>
                <a href="https://github.com/Adamantica/HardPin">
                    View HardPin on GitHub
                </a>
            </div>

            <div class="column is-half">
                <h2>
                    Why CommunicatorCMS?
                </h2>
                <p>
                    CommunicatorCMS is a flat file ASP .NET Core CMS that leverages the power of Razor syntax. 
                    This give
                </p>
            </div>


        </div>
    </div>
    <br />
    <br />
    <br />
</section>

<div>
    <script src="~/Web/content/static/js/main.js"></script>
</div>