<div class="bg-gray" style="padding-top: 2rem; padding-bottom: 7rem">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>
                    Developed by
                </h2>
                <a href="https://acmion.com">
                    <img class="img-responsive" src="https://cdn.acmion.com/acmion/assets/acmion/logo.svg" style="height: 4rem" />
                    <br />
                    acmion.com
                </a>
                
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-3">
                <h2>
                    Credits
                </h2>
                <a href="https://picturepan2.github.io/spectre/">
                    Spectre
                </a>

                <br />

                <a href="https://bootswatch.com/">
                    Bootswatch
                </a>

                <br />

                <a href="https://jenil.github.io/bulmaswatch/">
                    Bulmaswatch
                </a>
                
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-3">
                <h2>
                    GitHub
                </h2>
                <a href="https://github.com/Acmion/Spectreswatch/">
                    Spectreswatch
                </a>
                
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-3">
                <h2>
                    Why Spectreswatch?
                </h2>
                <p>
                    Spectreswatch brings new visual themes to Spectre. Spectre is a CSS only framework 
                    (no JavaScript) that is supported on major browsers, including IE11. 
                </p>
                
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>