:root
{
    --primary-color: #0057F0;
    --primary-color-hover: #0046C0;
}

body
{
    background: #020202;
}

a
{
    color: var(--hn-item-active-color);
}

    a:hover
    {
        color: var(--hn-item-active-hover-color);
    }

ul
{
    margin-top: 0 !important;
}

.button.is-primary
{
    background: var(--primary-color);
}

    .button.is-primary:hover
    {
        background: var(--primary-color-hover);
    }

.column
{ 
    display: flex;
    flex-direction: column;
}

.card
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    background: var(--hn-bg);
}

.card-content,
.card-content .content
{   
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

    .card-content .content
    {
        display: flex;
        flex-direction: column;
    }

.tag
{
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: bold;

    margin-right: 0.2rem !important;
    margin-left: 0.2rem !important;
}

code, pre, .label, .control, .input
{
    font-size: 1em;
}

.label
{
    color: #F2F2F2;
}
